faiss-cpu == 1.10.0
fastapi == 0.115.12
gtts == 2.5.4
huggingface-hub == 0.29.3
langchain == 0.3.21
langchain-community == 0.3.20
numba == 0.60.0
numpy == 2.0.2
openai-whisper == 20240930
pydantic-settings == 2.8.1
pypdf == 5.4.0
python-dotenv == 1.1.0
pymongo == 4.11.3
transformers == 4.50.1
uvicorn == 0.34.0